- provide(:title, "My Orders | ")
.order-container
  %h1 Hi #{@user.first_name}
  - if @orders.empty?
    %h3 You have no outstanding orders.
  - else
    %h4 Here's your current outstanding orders
    %p 
      You currently have #{@orders.length} oustanding purchase#{"s" if @orders.length > 1} that total
      = number_to_currency(@total / 100)
    .payment-button
      = form_for '/charges/create' do
        = render(:partial => "shared/stripe_checkout_button")
    = render 'show_orders'
    .delete-button
      = link_to 'Delete All', orders_destroy_all_path, class: 'button alert', data: { confirm: 'Are you sure?' }
