- @comments.each do |comment|
	.row
		%hr
		%p
			= rating_for_user @product, comment.user
			= comment.user.full_name
			%br
			%small
				%em= "#{time_ago_in_words(comment.created_at)} ago"
		%p= comment.body
		= link_to ('Delete Comment'), product_comment_path(@product, comment), method: :delete, data: { confirm: "Are you sure?"}