.sticky
  %nav.top-bar{:data => {:topbar => "", :options => "is_hover: false"}}
    %ul.title-area
      %li.name
        %h1
          %a{:href => "#"} Something
      %li.toggle-topbar.menu-icon
        %a{:href => "#"}
          %span Menu
    %section.top-bar-section
      / Left Nav Section
      %ul.left
        %li= link_to "Home", root_path
        %li= link_to 'Store', products_path
        %li= link_to "Contact", static_pages_contact_path
        %li.has-form
          .row.collapse
            .small-9.columns
              = form_tag("/products", method: "get") do
                -# = label_tag(:q, "Search for:")
                = text_field_tag(:q)
                -# = submit_tag("Search")
      / Right Nav Section
      %ul.right
        %li
          %p#notice= notice
        - if user_signed_in?
          %li.has-dropdown
            = link_to "#{current_user.full_name}"
            %ul.dropdown
              %li= link_to 'My Orders'
              %li= link_to 'Edit My Account', edit_user_registration_path
              %li= link_to 'Log Out', destroy_user_session_path, method: :delete
        - else
          %li= link_to 'Log In', new_user_session_path
